@charset "UTF-8";


.admin_padding{
    padding-top: 80px;
    display: flex;
}

.menu_show{
    background-color: #ffffff;
    margin-left: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
.title_list-new{
    font-size: 1.8rem;
}
.admin_category-list{
    display: flex;
    /* justify-content: space-between;   */
    font-size: 1.6rem;
}
.admin_category-list i{
    font-size: 1.8rem !important;
    margin-right: 10px;
}
.input_container{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.menu_show-ad{
    width: 100%;
    padding: 20px;
}
.both_first{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu_show-more{
    display: flex;
    justify-content: center;
}
.input_label{
    font-size: 1.4rem;
}
.input_field{
    /* border: none; */

}
.input_field:focus{
    border: none;
    
}
.both_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #252323;
}
.both_icon i{
    margin-right: 10px;
}
/* style option */

.table_add{
    width: 100%;
}

.width-input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    border: 1px solid #2a2c2d;
    margin-top: 8px;
}
.width-input:focus{
    border: 1px solid #0f1011;
    outline: none;
}
label {
    font-size: 1.6rem;
    color: var(--color-titlt--);
  }
.both-label--input{
    margin-top: 20px;
}
.add-cart--ad{
    text-align: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 1.6rem;
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
.color-icon{
    color: #0f1011;
    font-size: 1.5rem;
    padding: 0 10px;
}
.color-icon:hover{
    color: #424344;
}
.text_title-product{
    font-size: 2rem;
    color: var( --color-price--);
    font-weight: 600;
    text-align: center;
    padding-bottom: 30px;
}
.distance_two{
    margin-bottom: 30px;
}
.category-ad{
    min-height: 80vh;
    margin-left: 20px;
}
.togle-cate{
    width: 20px !important;
    overflow: hidden;
    animation: slideIn 0.3s linear;
}
.click_option{
	margin-left: 3px;
}
.both_first:hover{
	cursor: pointer;
}

#area-file {
	display: flex;
	width: 200px;
	height: 100px;
	padding: 10px;
	background: #F8F8FF;
	text-align: center;
	border-radius: 20px;

}

#img-view {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	border: 2px dashed #bbb5ff;
	background: #D6EAF8;
	background-position: center;
	background-size: cover;
}

#img-view img {
	width: 30px;
}

#img-view p {
	font-size: 1.6rem;
}

#img-view span {
	font-size: 1rem;
	color:var( --color-text-low--);
}
.both-label--input.file-show-center{
	display: flex;
	justify-content: center;
	
}
.file-show-center :hover{
	cursor: pointer;
}
.width-min{
	min-width: 200px;
}
.text-align--order{
	text-align: left;
	font-size: 1.2rem;
	
}
.text-align--order span{
	font-size: 1.6rem;
}
.max-width{
    max-width: 300px;
    
}
.add-category--new{
    background-color: #CB4335;
    color: #F8F8FF;
    border-radius: 10px;
    width: 150px;
    padding: 10px ;
    display: flex;
    font-size: 1.5rem;
    margin-bottom: 50px;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.add-category--new:hover{
    cursor: pointer;
}
.add-title{
    padding-right: 10px;
}
.animation-show{
    animation: clickEffect 0.8s ease-out ;
}

@keyframes clickEffect {

    form{
        opacity: 0;
        transform: translateY(-400px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.width-add-option{
    width: 600px;
}
.both-context{
    display: flex;
    justify-content: space-between;

}
.center_product-dentail-ad{
    padding: 0 30px;
}
.pagination{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
}
.pagination-item{
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 8px 10px;
    margin: 2px;
    color: var(--color-titlt--) !important;
}
.pagination-item:hover{
    cursor: pointer;
}
/* user */
.three-item{
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
}
.option-user--fix{
    background-color: blue;
    padding: 5px 10px;
    border-radius: 5px;
    color: #F8F8FF;
    font-size: 1.4rem;
}
.option-user-role{
    margin: 0 5px;
    background-color: #2ECC71;
    padding: 5px 10px;
    border-radius: 5px;
    color: #F8F8FF;
    font-size: 1.4rem;
}
.option-user-delete{
    background-color: #CB4335;
    padding: 5px 10px;
    border-radius: 5px;
    color: #F8F8FF;
    font-size: 1.4rem;
}
.option-user--fix,.option-user-role,.option-user-delete:hover{
    cursor: pointer;
}
.table_add{
    font-family: var( --text-body--);
}
/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 23px;
   }
   
/* Hide default HTML checkbox */
.switch input {
    opacity: 1;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background: #fff;
    transition: .4s;
    border-radius: 30px;
    border: 1px solid #ccc;
}

.slider:before {
    position: absolute;
    content: "";
    /* 1.9em */
    height: 20px;
    width: 20px;
    border-radius: 16px;
    left: 1.2px;
    top: 0;
    bottom: 0;
    background-color: white;
    box-shadow: 0 2px 5px #999999;
    transition: .4s;
}

input:checked + .slider {
    background-color: #5fdd54;
    border: 1px solid transparent;
}

input:checked + .slider:before {
    transform: translateX(1.5em);
}
/* first dash board */
.main-dashboard--item{
    display: flex;
    justify-content: space-between;
}
.both-iconandcontent{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.icon-dashboard{
    background-color: #CB4335;
    font-size: 3rem;
    height: 80px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.content-dashboard{
    width: 200px;
    text-align: center;
    font-size: 1.6rem;
    display: grid;
    padding: 10px 20px;
    background-color: #F8F9F9;
}
.content-dashboard span{
    font-weight: 500;
}
.icon-dashboard-2{
    background-color: #5499C7;
}
.icon-dashboard-3{
    background-color: #27AE60;
}
.order-active{
    margin-top: 50px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
}
.order-show--list{
    padding: 20px;
}
.bottom_menu{
    display: flex;
    margin-top: 200px;
    color: #2a2c2d;
    font-size: 1.6rem;
    padding: 0 8px;
}